* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: -webkit-linear-gradient(top left, #492d53, #4b2c2e);
}

.login_box {
    text-align: center;
    background-color: #fff;
    height: 500px;
    width: 600px;
    margin: 60px auto;
}

.login_box h1 {
    font-size: 40px
    
}

.form_login {
    padding: 60px 40px;
}

.form_login p {
    margin-bottom: 20px;
}

.form_login a {
    color: #000;
}

input {
    width: 300px;
    height: 40px;
    outline: none;
    padding-left: 10px;
    box-shadow: 0 0 5px #777;
    border-radius: 5px;
    display: block;
    margin: 0 auto 20px auto;
}

.item_login {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
    line-height: 2;
}

.form_login button {
    padding: 10px 40px;
    background-color: #fff;
    box-shadow: 0 0 5px #777;
    border-radius: 5px;
    margin-top: 20px;
}

.social_login {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}